[submodule "HydraKernel"]
	path = boot/kernel
   url = https://github.com/CC-HydraOS/HydraKernel.git
   branch = "master"
[submodule "lib/HydraUI"]
	path = lib/HydraUI
   url = https://github.com/CC-HydraOS/HydraUI.git
   branch = "master"
